body {
      font-family: Garamond;
      line-height: 2;
      font-size: 122%;
      background-color: white;
      color: black;
}

a:link{color:inherit}
a:active{color:inherit}
a:visited{color:inherit}
a:hover{color:inherit}
