body {
      font-family: Garamond;
      line-height: 2;
      font-size: 122%;
      background-color: white;
      color: black;
}

a, a:hover, a:focus, a:active { text-decoration: none; color: #49BED9; }
